.ipynb_checkpoints
__pycache__/

# notebook for testing
sandbox.ipynb

# extra config files made during testing. Also remove bash scripts to clean up the directory
config_*.yaml
*.sh

# confidential information
data/sample_ids_mapping.csv
data/lineages.csv
data/combined_lineage_sample_IDs.pkl
