.ipynb_checkpoints
__pycache__/

# scratch notebook
sandbox.ipynb

# extra config and bash files made during testing
config_*.yaml
run_*.sh
config_files/

# confidential information
data/sample_ids_mapping.csv
data/lineages.csv
data/combined_lineage_sample_IDs.pkl
